body {
    background-color: black;
}

#f {
    background-color: white;
    border-radius: 0px 0px 90px 90px;
    height: 120px !important;
}

#s {
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    color: white;
    
    border-radius: 220px 40px 70px 190px;

}

#s h1 {
    font-size: 120px;
    font-family: 'Permanent Marker', cursive;
}

#btn1 {
    border: 1px solid ;
    border-radius: 25px;
    width: 170px;
    padding: 10px;
    background-color: white;
}

#btn1:hover {
    background-color: rgb(12, 12, 12);
    color: rgb(249, 244, 244);
}

ul li:hover{
  /* text-decoration: underline; */
  border-bottom: 1px solid black;
  padding: 10px;
  
}
#h {
   
    text-align: center;
    margin-top: 40px;
}

#jj {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
}

#btn2 {
    border: 1px solid white ;
    border-radius: 25px;
    width: 170px;
    padding: 10px;
    background-color: rgb(12, 12, 12);
    color: aliceblue;
    
    
}

#btn2:hover {
    
    color: rgb(12, 12, 12);
    background-color: white;
    
    
}